#installation
pip install streamlit
#update
pip install --upgrade pip
# Running
streamlit run C:/Users/rpuni/OneDrive/Documents/STREAMLIT/main.py
import streamlit as st
import tensorflow as tf
import numpy as np

import tensorflow as tf
from tensorflow.keras import models,layers
import matplotlib.pyplot as plt
import numpy as np
